*{
    font-family: 'Catamara', sans-serif;
}

body{
    background-image: URL('../src/images/bg.jpg');
    background-attachment: fixed;
    background-position: center;
}

.App{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content{
    text-align: center;
    color: white;
}

.social-links{
    margin-top: 20px;
}

.social-links a{
    margin-right: 10px;
}